<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Youtube2</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Youtube2.styles.css" asp-append-version="true" />
   
</head>
    
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5 d-flex justify-content-center">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Youtube pirata</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex w-100 justify-content-center">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Buscar">Buscar</a>
                </form>

            </div>
        </div>
    </nav>
    <!-- Header-->

    @RenderBody()
    
    @*
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" asp-route-v="video-123">Home</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Video" asp-route-v="video-123">video</a>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Video">Paguina 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Video" asp-action="Video2">Paguina 2</a>
                </li>
            </ul>
            *@


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
