
@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="container py-4">
    <div class="card mb-3 p-2">
        <div class="row g-0 align-items-center">
            <div class="col-4 col-md-3">
                <a href="#">
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                         class="img-fluid rounded-3"
                         alt="Miniatura del video" />
                </a>
            </div>

            <div class="col-8 col-md-9">
                <div class="card-body py-0 px-3 px-md-4">
                    <h5 class="card-title text-truncate-2-lines mb-1">
                        <a href="#" class="text-decoration-none text-dark">
                            Título del video que puede ser largo y ocupar hasta dos líneas
                        </a>
                    </h5>

                    <p class="card-text text-muted mb-0 small">
                        Nombre del canal
                    </p>
                    <p class="card-text text-muted small">
                        1.2 M vistas • hace 3 meses
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 p-2">
        <div class="row g-0 align-items-center">
            <div class="col-4 col-md-3">
                <a href="#">
                    <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                         class="img-fluid rounded-3"
                         alt="Miniatura del video" />
                </a>
            </div>

            <div class="col-8 col-md-9">
                <div class="card-body py-0 px-3 px-md-4">
                    <h5 class="card-title text-truncate-2-lines mb-1">
                        <a href="#" class="text-decoration-none text-dark">
                            Título del video que puede ser largo y ocupar hasta dos líneas
                        </a>
                    </h5>

                    <p class="card-text text-muted mb-0 small">
                        Nombre del canal
                    </p>
                    <p class="card-text text-muted small">
                        1.2 M vistas • hace 3 meses
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>