
@{
    ViewData["Title"] = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container  py-4">
    <div class="container-fluid">
        <div class="row mt-3 rounded-5">
            <a href="/Video/12345" class="text-decoration-none text-dark">
                <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">

                    <div class="col-3">

                        <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                    </div>

                    <div class="col">

                        <div class="text-left">

                            <h5 class="fw-bolder">Fancy Product</h5>

                            <p class="m-0 text-muted small">Cantodad de vistas que tiene el video </p>

                            <div class="row mt-2">
                                <img src="/SNAKEYES.png" class="rounded-circle" alt="Avatar" style="width:57px; height:36px">
                                <p class="col">nombre del ususario del video</p>
                            </div>
                            <p>25% de la descripcion del video</p>

                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="row mt-3 rounded-5">
            <a href="/Video/12345" class="text-decoration-none text-dark">
                <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">

                    <div class="col-3">

                        <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                    </div>

                    <div class="col">

                        <div class="text-left">

                            <h5 class="fw-bolder">Fancy Product</h5>

                            <p class="m-0 text-muted small">Cantodad de vistas que tiene el video </p>

                            <div class="row mt-2">
                                <img src="/SNAKEYES.png" class="rounded-circle" alt="Avatar" style="width:57px; height:36px">
                                <p class="col">nombre del ususario del video</p>
                            </div>
                            <p>25% de la descripcion del video</p>

                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="row mt-3 rounded-5">
            <a href="/Video/12345" class="text-decoration-none text-dark">
                <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">

                    <div class="col-3">

                        <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                    </div>

                    <div class="col">

                        <div class="text-left">

                            <h5 class="fw-bolder">Fancy Product</h5>

                            <p class="m-0 text-muted small">Cantodad de vistas que tiene el video </p>

                            <div class="row mt-2">
                                <img src="/SNAKEYES.png" class="rounded-circle" alt="Avatar" style="width:57px; height:36px">
                                <p class="col">nombre del ususario del video</p>
                            </div>
                            <p>25% de la descripcion del video</p>

                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="row mt-3 rounded-5">
            <a href="/Video/12345" class="text-decoration-none text-dark">
                <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">

                    <div class="col-3">

                        <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                    </div>

                    <div class="col">

                        <div class="text-left">

                            <h5 class="fw-bolder">Fancy Product</h5>

                            <p class="m-0 text-muted small">Cantodad de vistas que tiene el video </p>

                            <div class="row mt-2">
                                <img src="/SNAKEYES.png" class="rounded-circle" alt="Avatar" style="width:57px; height:36px">
                                <p class="col">nombre del ususario del video</p>
                            </div>
                            <p>25% de la descripcion del video</p>

                        </div>

                    </div>

                </div>
            </a>
        </div>
        <div class="row mt-3 rounded-5">
            <a href="/Video/12345" class="text-decoration-none text-dark">
                <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">

                    <div class="col-3">

                        <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />

                    </div>

                    <div class="col">

                        <div class="text-left">

                            <h5 class="fw-bolder">Fancy Product</h5>

                            <p class="m-0 text-muted small">Cantodad de vistas que tiene el video </p>

                            <div class="row mt-2">
                                <img src="/SNAKEYES.png" class="rounded-circle" alt="Avatar" style="width:57px; height:36px">
                                <p class="col">nombre del ususario del video</p>
                            </div>
                            <p>25% de la descripcion del video</p>

                        </div>

                    </div>

                </div>
            </a>
        </div>
    </div>

</div>