@{
    ViewData["Title"] = "Home Page";
}


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="videoIndex">
            <!--COmponente para el video Nota el titulo del video es mui grade solucionarlo -->
            
        </div>
    </div>
</section>

<script>
    fetch('https://localhost:7004/api/videos')
    .then(res=> res.json())
    .then(data=>
        {
            let container= document.querySelector('#videoIndex')
            data.forEach(p=>{
                container.innerHTML+=`
                    <div class="col mb-5">
                        <a href="/Video/${p.id}">
                            <div class="card h-80">
                                <!-- Product image-->
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">${p.nombre}</h5>
                                        
                                        <p class="nav-link text-dark" asp-area="" >${p.usuarioNombre.nombre}</p>
                                    </div>
                                </div>
                                

                            </div>
                        </a>
                    </div>
                `
            })
        }
    )
</script>
<!-- Footer-->

