@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-1">
    <div class="row " id="videoIndex">
        <img src="/SNAKEYES.png" class="rounded-5" alt="Alternate Text" style="
                                                            width:200vh;
height:250px;" />

    </div>
    <div class="row mt-3  ">
        <div class="col-2">
            <img src="/SNAKEYES.png" class="rounded-circle" alt="Alternate Text" style="width:150px; height:150px" />
        </div>
        <div class="col">
            <h2>Nombre del perfil</h2>  
            <p>N supcriptores . n videos</p>
            <p>Descripcion del canal</p>
        </div>
    </div>
    
    <div class=" row mt-3">
        <div class="col-1 icon-link-hover">
            princcipal
        </div>
        <div class="col-1">
            videos
        </div> 
    </div>
    <hr />
</div>
