@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-1">
    <div class="row " id="videoIndex">
        <img src="/SNAKEYES.png" class="rounded-5" alt="Alternate Text" style="
                                                            width:200vh;
height:250px;" />

    </div>
    <div class="row mt-3  ">
        <div class="col-2">
            <img src="/SNAKEYES.png" class="rounded-circle" alt="Alternate Text" style="width:150px; height:150px" />
        </div>
        <div class="col">
            <h2>Nombre del perfil</h2>  
            <p>N supcriptores . n videos</p>
            <p>Descripcion del canal</p>
        </div>
    </div>
    
    <div class=" row mt-3 etiquetas border-bottom">
        <div class="col-1 me-2 py-2 principal marcado">
            princcipal
        </div>
        <div class="col-1 py-2  principal">
            videos
        </div> 
    </div>
    <div class="container px-4 px-lg-5 mt-5" id="pestana">
        <div class="container-fluid">
            <div class="row align-items-center d-flex">
                <div class="col-auto p-2">
                    <button class="btn btn-primary rounded-circle" id="car1" style="width: 40px; height: 40px;">
                        <i class="bi bi-arrow-left-short"></i>
                    </button>
                </div>

                <div class="col" id="carrusel">
                    <div class="row row-cols-1 row-cols-lg-4 g-4" id="itemcarri" >
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                <div class="card-body p-2">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                        </div>

                                        <div class="col">
                                            <h6 class="fw-bolder mb-0">Título del Producto</h6>
                                            <p class="text-muted small mb-0">Detalles</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                <div class="card-body p-2">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                        </div>
                                        <div class="col">
                                            <h6 class="fw-bolder mb-0">Otro Título</h6>
                                            <p class="text-muted small mb-0">Más Detalles</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                <div class="card-body p-2">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                        </div>
                                        <div class="col">
                                            <h6 class="fw-bolder mb-0">Otro Título</h6>
                                            <p class="text-muted small mb-0">Más Detalles</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 shadow-sm">
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                <div class="card-body p-2">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-auto">
                                            <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                        </div>
                                        <div class="col">
                                            <h6 class="fw-bolder mb-0">Otro Título</h6>
                                            <p class="text-muted small mb-0">Más Detalles</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-auto p-2">
                    <button class="btn btn-primary rounded-circle" id="car2" style="width: 40px; height: 40px;">
                        <i class="bi bi-arrow-right-short"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
    
</div>
 <!--
        <div class="container-fluid">
                <div class="row align-items-center d-flex">
                    <div class="col-auto p-2">
                        <button class="btn btn-primary rounded-circle" style="width: 40px; height: 40px;">
                            <i class="bi bi-arrow-left-short"></i>
                        </button>
                    </div>

                    <div class="col">
                        <div class="row row-cols-1 row-cols-md-2 g-4">
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>

                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Título del Producto</h6>
                                                <p class="text-muted small mb-0">Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto p-2">
                        <button class="btn btn-primary rounded-circle" style="width: 40px; height: 40px;">
                            <i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>

                </div>
            </div>
    -->
<script>
    var etiqueta= document.querySelectorAll('.principal');
    let temp=0;
    

    for(let i=0; i<etiqueta.length;i++){
        
        etiqueta[i].addEventListener('click',()=>{
            let etiq=document.querySelector('.marcado')
            if(etiq){
                etiq.classList.toggle('marcado')
            }


            etiqueta[i].classList.toggle('marcado')
            temp=i;
            let conte=document.querySelector('#pestana')
            conte.innerHTML=``
            


            if(i==1){
                
                conte.innerHTML=`<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="videoPer">

                </div>`
                let pesta=document.querySelector('#videoPer')
                for(let i=0; i<10;i++){
                    
                    pesta.innerHTML+=`
                     <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top text-center" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-1">
                                <div class="row mt-2 ">

                                    <div class="col-1">
                                        <img src="/SNAKEYES.png" class="rounded-circle" alt="Alternate Text" style="width:36px; height:35px" />
                                    </div>
                                    <div class="col ms-3">
                                        <h6 class="fw-bolder">titulo</h6>

                                        <p class="nav-link text-dark" asp-area="">detalles</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    `
                }
            }else if(i==0){
                conte.innerHTML+=`
                <div class="container-fluid">
                <div class="row align-items-center d-flex">
                    <div class="col-auto p-2">
                        <button class="btn btn-primary rounded-circle" style="width: 40px; height: 40px;">
                            <i class="bi bi-arrow-left-short"></i>
                        </button>
                    </div>

                    <div class="col">
                        <div class="row row-cols-1 row-cols-lg-4 g-4" id="carrusel">
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>

                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Título del Producto</h6>
                                                <p class="text-muted small mb-0">Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100 shadow-sm">
                                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Imagen de producto" />
                                    <div class="card-body p-2">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-auto">
                                                <img src="/SNAKEYES.png" class="rounded-circle me-3" alt="Avatar" style="width:36px; height:36px" />
                                            </div>
                                            <div class="col">
                                                <h6 class="fw-bolder mb-0">Otro Título</h6>
                                                <p class="text-muted small mb-0">Más Detalles</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-auto p-2">
                        <button class="btn btn-primary rounded-circle" style="width: 40px; height: 40px;">
                            <i class="bi bi-arrow-right-short"></i>
                        </button>
                    </div>

                </div>
            </div>
                `
            }
        })
    }
    
    let tran=0;
    let btn1=document.getElementById("car2").addEventListener('click',()=>{
        tran++
        //condicion para la cantidad de elementos en el contenedor
        let carru=document.getElementById("itemcarri");
        carru.style.transform=`translateX(-${tran*25}%)`;
        carru.style.transition='transform 0.5s ease-in-out'
    });
    let btn2=document.getElementById("car1").addEventListener('click',()=>{
        tran--
        if(!(tran<0)){
            let carru=document.getElementById("itemcarri");
            carru.style.transform=`translateX(-${tran*25}%)`;
            carru.style.transition='transform 0.5s ease-in-out'
        }
        
    });


</script>
