@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="container-fluid px px-lg-5 mt-5 ">
    <div class="row gx-2 gx-lg-5">

        <div class="col-md-9 mb-5">
            <div class="card h-100">
                <div class="card-header p-0">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video" allowfullscreen></iframe>
                    </div>
                </div>
               <div class="card-body">
                    <h3>Título del video</h3>
                    <div class="row gx-2 gx-lg-5 justify-content-between align-items-center">

                        <div class="col-auto d-flex align-items-center">
                            <div class="me-3">
                                <p class="m-0">titulo del canal</p>
                                <p class="m-0 text-muted small">Subtítulo</p>
                            </div>
                            <button class="btn btn-primary">Suscribete</button>
                        </div>

                        <div class="col-auto d-flex align-items-center">
                            <button class="btn btn-secondary me-2">Like</button>
                            <button class="btn btn-secondary me-2">Dislike</button>
                            <button class="btn btn-secondary">Compartir</button>
                        </div>

                    </div>
                </div>
                <div class="descripcion card  ">
                    <p class="Contenido de descripcion"> descripcion</p>
                </div>
               
            </div>
            <div class="Comentarios card  mt-3">
                
                    <form class="card-header d-flex w-100 justify-content-center">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                        <button class="btn btn-outline-success" type="submit">Comentar</button>
                        <button class="btn btn-outline-danger" type="submit">Cancelar</button>
                    </form>

                <div class="card-body">
                    <!-- componente a repetir para los comentarios -->
                    <div>
                        <div class="col-auto d-flex align-items-center">
                            <div class="me-3">
                                <p class="m-0">titulo del canal</p>
                                <p class="m-0 text-muted ">Subtítulo</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 mb-5">
            <div class="row h-auto pt-2 pb-2 border rounded  mb-2    ">
                <div class="col">
                    <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                </div>
                <div class="col">
                    <div class="text-left">
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <p class="m-0 text-muted small">ESte es el nombre del usuario</p>
                        <p class="m-0 text-muted small">fecha</p>
                    </div>
                </div>
            </div>
            <div class="row h-auto pt-2 pb-2 border rounded ">
                <div class="col">
                    <img class="img-fluid" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                </div>
                <div class="col">
                    <div class="text-left">
                        <h5 class="fw-bolder">Fancy Product</h5>
                        <p class="m-0 text-muted small">ESte es el nombre del usuario</p>
                        <p class="m-0 text-muted small">fecha</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>